<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Moviescatalog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav class="nav-bar">
      <li class="create-button"><%= link_to "Cadastrar Gênero", new_movie_genre_path%></li>
      <li class="create-button"><%= link_to "Cadastrar Diretor", new_director_path%></li>
      <li class="create-button"><%= link_to "Cadastrar Filme", new_movie_path%></li>
      <li class="back"><%= link_to "Home", root_path%></li>
    </nav>
    <%= yield %>
  </body>
</html>
